@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,900;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
body::-webkit-scrollbar {
  display: none;
}
.footer-container {
  height: 300px;
  background-color: azure;
  color: black;
}
.home-typewritter-text {
  font-family: sans-serif;
}
