* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
body::-webkit-scrollbar {
  display: none;
}
.landing_page_title {
  position: relative;
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: transparent;
  background: linear-gradient(45deg, rgb(157, 214, 220), rgb(179, 255, 48));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 0.02em transparent;
}
